<p>Hello <%= @resource.email %>!</p>

<p>Ai đó đã yêu cầu một liên kết để thay đổi mật khẩu của bạn. Bạn có thể làm điều này thông qua liên kết bên dưới.</p>

<p><%= link_to 'Change my password', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn truy cập liên kết ở trên và tạo một liên kết mới.</p>
